body {
    font-family: Arial, sans-serif;
    text-align: center;
}

img{

    width: 50%;
    height: 50%;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 25%;
    width: 25%;
}

.add-to-cart {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #0056b3;
}
